@charset "UTF-8";

/* Body */

body {
    font-family: source-sans-pro;
    background-color: #E8CAB0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 200;
}


/* Container */

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #E8CAB0;
    padding-bottom: 2%;
}


/*contact form*/

.form {
    align-self: center;
    font-family: 'Poppins', 'Helvetica';
    width: 50%;
    margin-top: 5%;
    padding: 2%;
    border-radius: 15px;
    background-color: #ffffff;
    margin-left: 25%;
    font-size: large;
}

input[type=text],
select,
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #e3cbb3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b9de25;
}


/* Navigation */

header {
    width: 100%;
    height: 5%;
}

.logo {
    width: 3%;
    float: left;
    margin-top: 15px;
    margin-left: 5%;
    letter-spacing: 4px;
}

nav {
    float: right;
    width: auto;
    text-align: right;
    margin-right: 400px;
}

header nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    float: left;
    color: #707070;
    font-size: 18px;
    text-align: left;
    margin-right: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s linear;
}

ul li a {
    color: #707070;
    text-decoration: none;
}

ul li:hover a {
    color: #ffffff;
}


/*footer*/

.copyright {
    margin-top: 2%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #707070;
    font-weight: lighter;
    letter-spacing: 1px;
    border-top-width: 2px;
    font-family: 'Poppins', 'Helvetica';
}